*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: row;
}
.head{
display: flex;
flex-direction: row;
margin-left: 85px;
padding-top: 50px;
}
.text-head{
    color: white;
    background-color: rgb(117, 7, 190);
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 60px;
}
.text-head:hover{
    background-color: rgb(13, 250, 112);
    cursor: pointer;
    
}
.logo img{
height: 89px;
width: 120px;
}