*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    position: relative;
}
img{
    float: left;
    display: inline-block;
    width: 180px;
    height: 85px;
    margin-top: 39px;
    margin-left: 27px;
}

ul{
    float: right;
margin-right: 45px;
margin-top: 25px;
}

ul li{
    list-style: none;
display: inline-block;
margin: 10px;
line-height: 80px;
}
ul li a{
    color: hwb(0 11% 9%);
    text-decoration: none;
    font-size: 20px;
    padding: 7px 12px;
    font-family: sans-serif;
}

ul li a:hover{
    background-color: rgb(29, 180, 160);
    border-radius: 5px;
}
.center{
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 45%;
    font-size: 14px;
    color: coral;
    justify-content: space-around;

}
.amerika{
    float: left;
    margin: 30px;

}
.almaniya{
    float: right;
    margin: 30px;
}