body{
	background-color: rgb(204, 196, 204);
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.image{
	display: flex;
	flex-direction: row;
	height: 115px;
	padding-left: 275px;
}
.container{
	background-color: rgb(78, 201, 174);
	 margin: auto;
	 margin-top: 25px;
	width: 50%;
	border: 3px solid rgb(85, 105, 85);
	border-radius: 12px;
	text-align: center;
}

h2{
	color: cornsilk;
	font-size: 42px;
}

p{
	color: cornsilk;
	font-size: 24px;
}
label{
	color: cornsilk;
	font-size: 36px;
}
select{
	color: aliceblue;
	background-color: rgb(29, 100, 85);
}
input{
	background-color: rgb(222, 229, 231);
	border-radius: 6px;
}
button{
	background-color: deepskyblue;
	border-radius: 16px;
}